.buttons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 1em;
}

.X {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: 20px;
	padding: 1em;
	letter-spacing: 0em;
}

input {
	text-align: center;
	border: 2px white solid;
	background: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	border-radius: 20px;

	&:hover {
		border: 2px black solid;
	}

	&:focus {
		border: 2px black solid;
	}
}
